* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
}
.container {
    margin: 20vh;
    text-align: center;
}
.title {
    font-size: 3rem;
}
.input-group {
    position: relative;
}
.input-group i {
    position: absolute;
}
.search {
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}
.mic {
}
.camera {
}
.search-input {
}
